
*{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
div {
	display: block;
}
section{
	display: block;
	position: relative;
}
.flex.middle {
    -webkit-align-items: center;
    align-items: center;
}
.flex.space-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex.wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex.center {
    -webkit-justify-content: center;
    justify-content: center;
}

section.type-slider{
		 position: relative;
}
.wrapper.no-wrapper {
    max-width: 1920px;
    padding-left: 0px;
    padding-right: 0px;
}
.wrapper {

    max-width: calc(1600px + 110px);
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-left: 55px;
    padding-right: 55px;
}


.background {
    margin: 0 auto;
    left: -100%;
    right: -100%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

section.type-slider .slider {
    height: calc(100vh - 96px);
    position: relative;
    will-change: opacity;
    overflow: hidden;
}


/*
    Arrows
 */

section.type-slider .icon.slider-arrow {
    cursor: pointer;
    z-index: 999;
    position: absolute;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -56px;
    top: 50%;
}
section.type-slider .icon.slider-arrow.right {
    left: 0;
}
section.type-slider .icon.slider-arrow.left {
    right: 0;
}

section.type-slider .slider-arrow:hover {
    opacity: 0.6;
}
section.type-slider .slider-arrow:nth-child(2) {
    transform: rotate(180deg);
}


/*
    Dotes
 */

section.type-slider .pager {
    width: 100%;
    position: absolute;
    bottom: 87px;
    z-index: 66;
}


section.type-slider .pager-dot.active {
    opacity: 1;
    pointer-events: none;
}
section.type-slider .pager-dot {
    background-color: #fff;
    opacity: .5;
    width: 9px;
    height: 9px;
    margin: 0 8px;
    cursor: pointer;
    transition: 0.6s cubic-bezier(.19,.51,.29,1);
}


/*
    Sliders
 */
section.type-slider .slides {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 44;
}

section.type-slider .slide {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 33;
}

section.type-slider .slides .active {
    z-index: 44;
    display: block !important;
    opacity: 1 !important;
}
section.type-slider .animationLeft {
    animation: 1.5s sliderLeft;
}

section.type-slider .animationRight {
    animation: 1.5s sliderRight;
}
@keyframes scale {
    from{
        transform: scale(1.05);
    }
    to {
        transform: scale(1.0);
    }
}

@keyframes blockUp {
    from{
        margin-top: 5%;
    }
    to {
        margin-top: 0%;
    }
}
@keyframes sliderRight {
    from{
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes sliderLeft {
    from{
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}
section.type-slider .slides .active .slider-content-flex-container-inner {
    animation: 1.8s blockUp;
}
section.type-slider .slides .active .slide-image {
    animation: 1.8s scale;
}

section.type-slider .slides .leftIn {
    animation: 1.5s sliderLeft;
}
section.type-slider .slides .rightIn {
    animation: 1.5s sliderRigth;
}


section.type-slider .slide-inner {
    width: 100vw;
    height: 100%;
    position: absolute;
}

section.type-slider .slider-content {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
}
section.type-slider .slider-content-flex-container {
    height: 100%;
}


.el-title {
        text-align: center;
        padding-top: 4px;
}

section.type-slider .slider .slide-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

section.type-slider .slider .slide-image:after {
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.g__image {
    position: relative;
}

        section.type-slider .g__image {
            height: 100%;
        }



section.type-slider .slider .slide img {
    object-position: 50% 25%;
}
section.type-slider .slider .slide img {
    object-fit: cover;
    object-position: center;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 55;
}
.g__image img {
    object-fit: cover;
    object-position: center;
    display: block;
    width: 100%;
    height: 100%;

}


        /*

        Title
         */
.g__title.type-4 {
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 1.2;
}
@media (max-width: 1440px) {
    .g__title.type-4 {
        font-size: calc(80px * 0.8);
        line-height: calc(96px * 0.8);
    }
}
@media (max-width: 1024px) {
    .g__title.type-4 {
        font-size: calc(80px * 0.6);
        line-height: calc(96px * 0.6);
    }
}
@media (max-width: 767px) {
    .g__title.type-4 {
        font-size: calc(80px * 0.4);
        line-height: calc(96px * 0.4);
    }
}
.color-light {
                color: #fff;
            }

/*
 play button
 */
.play-button-outer {
    padding-top: 40px;
}
@media (max-width: 767px) {
    .play-button-outer {
        padding-top: 20px;
        margin-bottom: 94px;
    }
}
.g__play_button {
    width: 100%;
    height: 127px;
    position: relative;
}
@media (max-width: 767px) {
    .g__play_button {
        width: 100%;
        height: 89px;
        position: relative;
    }
}
.g__play_button-circle {
    opacity: 1;
    width: 155.28px;
    margin: 0 auto;
    position: absolute;
    left: -100%;
    right: -100%;
    z-index: 77;
    cursor: pointer;
    transition: 0.6s cubic-bezier(.19,.51,.29,1);
}
.g__play_button-inner-circle:hover{
    transform: scale(0.9);
}
.g__play_button-inner-circle {
    background: #FFFFFF;
    border-radius: 50%;
    margin: 0 auto;
    width: 63px;
    height: 63px;
    position: absolute;
    left: -100%;
    right: -100%;
    top: 31px;
    z-index: 55;
    cursor: pointer;
    transition: 0.6s cubic-bezier(.19,.51,.29,1);
}

.g__play_button-circle:hover {
    transform: scale(1.05);
}



    .g__play_button-circle svg circle {
        opacity: 0.3;
        stroke-width: 1;
        stroke: #ffffff;
        fill: rgba( 255, 0, 0, 0);
        stroke-dasharray: 285px;
        transform-origin: center;
        transform: rotate(20deg);
    }
.g__play_button-circle:hover + .g__play_button-inner-circle {
    transform: scale(0.95);
}
.g__play_button-circle:hover + .g__play_button-inner-circle .play {
    transform: scale(1.3);
}
.g__play_button-circle svg circle:nth-child(2) {
    opacity: 0;
    stroke-dashoffset: 262px;
    transition: 0.6s cubic-bezier(.19,.51,.29,1);
}
.g__play_button-circle:hover svg circle:nth-child(2) {
    opacity: 1;
    stroke-dashoffset: 0px;
}


.g__play_button-inner-circle .play {
    position: absolute;
    top: 22px;
    left: 30px;
    transition: 0.6s cubic-bezier(.19,.51,.29,1);
}

.g__play_button-el-text {
    width: 135px;
    position: absolute;
    left: 75px;
    top: 26px;
    z-index: 55;
    display: block;
    transition: 0.6s cubic-bezier(.19,.51,.29,1);
    display: none;
}
@media (max-width: 767px) {
    section.type-2 .g__play_button-el-text {
        display: none;
    }

    .g__play_button-el-text {
        display: none;
    }
}

/*
 @media
 */
@media (max-width: 767px) {
    .g__play_button-circle svg circle {
        stroke-dasharray: 315px;
    }
}

@media (max-width: 767px) {
    .g__play_button-circle {
        width: 109.28px;
    }
}
@media (max-width: 767px) {
    .g__play_button-inner-circle {
        width: 47px;
        height: 47px;
        top: 20px;
    }
}
@media (max-width: 767px) {
    .g__play_button-inner-circle .play {
        top: 16px;
        left: 21px;
    }
}

@media (max-width: 1024px) {
    section.type-slider .el-title {
        text-align: center;
        padding-top: 4px;
        padding: 0px 30px;
    }
}

@media (max-width: 767px){
    section.type-slider .slider .slide img {
        min-height: 300px;
    }
}
@media (max-width: 767px){
    section.type-slider .slider .slide img {
        min-height: 560px;
    }
}

@media(max-width: 1024px){
    section.type-slider .g__image {
        height: 100%;
    }
}
@media(max-width: 1440px){
    section.type-slider .block-item-inner-1 .part-type-2-inner, .el-image, .g__image {
        height: 100%;
    }
}

@media (max-width: 767px){
    section.type-slider .g__image {
        height: 100%;
    }
}

@media (max-width: 767px) {
    section.type-slider .slider {
        height: calc(100vh - 124px);
    }
}
@media (max-width: 1440px) {
    section.type-slider .slider {
        height: calc(100vh - 72px);
    }
}
@media  (max-width: 767px) {
    section.type-slider .slider {
        height: calc(100vh - 48px);
    }
}


@media (max-width: 767px){
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media(max-width: 1024px){
    .wrapper {
        padding-left: 35px;
        padding-right: 35px;
    }
}
@media (max-width: 1440px){
    section.type-slider .slider {
        height: calc(100vh - 72px);
    }
}
@media (max-width: 767px) {
    section.type-slider .slider-arrow {
        display: none;
    }
}
@media (max-width: 1024px) {
    section.type-slider .slider-arrow {
        margin-left: 30px;
        margin-right: 30px;
    }
}


section.type-slider .slider .slide .slider-youtube-video {
    display: block;
    width: 100vw;
    height: calc(100vw / 1.77);
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
}


/*

 Pop up
 */

.pop-up {
    width: 100%;
    height: auto;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 990;
    overflow: hidden;
}
.pop-up .background {
    background-color: rgba(48, 48, 48, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px !important;
    right: initial !important;
    bottom: initial !important;
    left: 0px !important;
}
.pop-up .pop-up-inner {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
}
html body .pop-up .close-button {
    top: 7px;
    right: 6px;
}

.pop-up .close-button {
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 55;
        pointer-events: all;
    }

.pop-up.video-pop-up .content {
    max-width: 1134px;
    height: 70vw;
    max-height: 640px;
}
.pop-up .content {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 59px 0 rgba(137, 137, 137, 0.5);
    width: 100%;
    max-width: 864px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    overflow: hidden;
    pointer-events: all;
}

html body .g__close_button.type-1 {
    position: absolute;
    top: 0px;
    right: 0px;
}
.g__close_button.type-1 {
    width: 35px;
    height: 35px;
}
.g__close_button {
    cursor: pointer;
}

.g__close_button.type-1 .g__close_button-cross {
    content: '';
    background-image: url(./svg/cross.svg);
    background-size: 100% 100%;
    width: 32px;
    height: 32px;
    margin: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    transition: 0.6s cubic-bezier(.19,.51,.29,1);
}
.pop-up .content .content-inner {
    position: relative;
}
.pop-up-inner .content .content-inner {
    height: 100%!important;
}
.pop-up.video-pop-up .content .content-inner .video-outer {
    height: 100%;
    position: relative;
}
#pop_up_video {
    height: 100% !important;
}
.pop-up.video-pop-up .content .content-inner .video-outer .youtube-video {
    display: block;
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {
    .pop-up .close-button {
        top: 12px;
        right: 12px;
    }
        .pop-up .pop-up-inner {

        }
}

@media only screen and (max-width: 767px) {
    html body .pop-up .pop-up-inner {
        padding-top: 0px !important;
    }
    .ui-mobile.b-open .pop-up {
        display: block !important;
    }
    .ui-mobile .pop-up {
        display: none !important;
    }
    .pop-up .pop-up-inner {
        z-index: 7 !important;
    }
}
