.fadeIn{
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: .5s;
    -webkit-animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}
@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    60% {
        -webkit-transform: scale(1.1);
    }
    80% {
        -webkit-transform: scale(0.9);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
.fadeOut{
    animation-name: fadeOut;
    -webkit-animation-name: fadeOut;
    animation-duration: .5s;
    -webkit-animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}
@keyframes fadeOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    60% {
        transform: scale(0.9);
        opacity: 1;
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
@-webkit-keyframes fadeOut {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    60% {
        -webkit-transform: scale(0.9);
        opacity: 1;
    }
    80% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}
/***************** slideDown *********************/
.slideDownIn{
    animation-name: slideDownIn;
    -webkit-animation-name: slideDownIn;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
}
@keyframes slideDownIn {
    0% {transform: translateY(-100%);}

    80% {transform: translateY(4%);}
    95% {transform: translateY(-2%);}
    100% {transform: translateY(0%);}
}
@-webkit-keyframes slideDownIn {
    0% {-webkit-transform: translateY(-100%);}
    80% {-webkit-transform: translateY(4%);}
    95% {-webkit-transform: translateY(-2%);}
    100% {-webkit-transform: translateY(0%);}
}
.slideDownOut{
    animation-name: slideDownOut;
    -webkit-animation-name: slideDownOut;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
}
@keyframes slideDownOut {
    0% {transform: translateY(0%);}
    80% {transform: translateY(-4%);}
    95% {transform: translateY(8%);}
    100% {transform: translateY(-100%);}
}
@-webkit-keyframes slideDownOut {
    0% {-webkit-transform: translateY(0%);}
    80% {-webkit-transform: translateY(-4%);}
    95% {-webkit-transform: translateY(8%);}
    100% {-webkit-transform: translateY(-100%);}
}
/************** slideUp *****************/
.slideUpIn{
    animation-name: slideUpIn;
    -webkit-animation-name: slideUpIn;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}
@keyframes slideUpIn {
    0% {transform: translateY(100%);}
    80% {transform: translateY(-4%);}
    95% {transform: translateY(2%);}
    100% {transform: translateY(0%);}
}

@-webkit-keyframes slideUpIn {
    0% {-webkit-transform: translateY(100%);}
    50% {-webkit-transform: translateY(-8%);}
    95% {-webkit-transform: translateY(2%);}
    100% {-webkit-transform: translateY(0%);}
}
.slideUpOut{
    animation-name: slideUpOut;
    -webkit-animation-name: slideUpOut;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}

@keyframes slideUpOut {
    0% {transform: translateY(0%);}
    30% {transform: translateY(2%);}
    55% {transform: translateY(-4%);}
    100% {transform: translateY(100%);}
}
@-webkit-keyframes slideUpOut {
    0% {-webkit-transform: translateY(0%);}
    30% {-webkit-transform: translateY(2%);}
    55% {-webkit-transform: translateY(-4%);}
    100% {-webkit-transform: translateY(100%);}
}